# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/


# frontend code
node_modules/
dist/

# wasms
out/

.mops
*.env

# Build artifacts
.prometheus/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Prometheus Protocol Secrets - DO NOT COMMIT
.env
libs/ICRC118WasmRegistry-mo
packages/apps/verifier-bot/deployment/k8s/secrets.yaml
packages/apps/verifier-bot/deployment/k8s/secrets-prod.yaml
