x-base-image:
  versions:
    moc: &moc 0.14.14
    ic-wasm: &ic_wasm 0.9.3
    mops-cli: &mops-cli 0.2.1
  name: &base_name 'motoko-build-base:moc-0.14.14'

networks:
  default:
    external: true
    name: verifier-shared-network

services:
  base:
    build:
      context: .
      dockerfile: Dockerfile.base
      args:
        MOC_VERSION: *moc
        IC_WASM_VERSION: *ic_wasm
        MOPS_CLI_VERSION: *mops-cli
    image: *base_name
  wasm:
    depends_on:
      - base
    build:
      context: .
      args:
        IMAGE: *base_name
    volumes:
      - ./out:/project/out
    environment:
      compress: "false"
    command: bash --login build.sh
